<div class="container-fluid bg-dark text-center text-white">
	<h1>La Team</h1>
	<div class="row text-center">
		<div class="card bg-black" style="width: 300px;">
    	<img src='<%= image_tag('/images/pp.png') %>' class="card-img-top" alt="...">
    	<div class="card-body text-center">
        	<h5 class="card-title">Titouan PRAT</h5>
        	<p class="card-text">Description de mon profile</p>
        	<a href="https://github.com/T-PRAT" class="btn btn-primary">Voir le profile</a>
   		</div>
	</div>
	</div>
</div>


